<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <meta charset="UTF-8">
  <title><%= t.error403.title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="box">
    <h1><%= t.error403.title %></h1>
    <p><%= t.error403.message %></p>
    <a href="/"><%= t.error403.back %></a>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
