<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <%- include('partials/head') %>
  <title><%= t.index.title %></title>
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="box">
    <img src="/logo.png" alt="EVE Logistics" class="login-logo">
    <h1><%= t.index.title %></h1>
    <p><%= t.index.subtitle %></p>
    <a href="/login"><%= t.index.loginBtn %></a>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
